<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>

<body>
    <div class="navi">
        <button><a href="/logout">Logout</a></button>
        <button><a href="/analyzer">analyse</a></button>

    </div>
    <p>Hello, <%= uname %> !!</p>

    <form action="/dashboard" method="get">
        
        <label for="tags">Enter Tags:</label>
        <input type="text" id="tags" placeholder="Enter problem tag" name="tags" required>
        <button type="submit">Submit</button>
    </form>
    <div class="user_handle">
        <h3><%=  %></h3>
        <h3><%=  %></h3>
        <h3><%=  %></h3>
        <h3><%= %></h3>



    </div>

    <% if (typeof error !== 'undefined' && error !== null) { %>
        <p><%= error %></p>
    <% } else if (problems) { %>
        <h2>Codeforces Problems</h2>
        <table>
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Tags</th>
                    <th>rating</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
               <!-- Inside the table body -->
<!-- Inside the table body -->
<% problems.sort((a, b) => (a.rating || Infinity) - (b.rating || Infinity)).forEach(problem => { %>
    <tr>
        <td><a href="<%= `https://codeforces.com/problemset/problem/${problem.contestId}/${problem.index}` %>" target="_blank"><%= problem.name %></a></td>
        <td><%= problem.tags.join(', ') %></td>
        <td><%= problem.rating !== null ? problem.rating : '-' %></td>
    </tr>
<% }); %>



            </tbody>
        </table>
    <% } %>
    
</body>

</html>
