<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <button><a href="/logout">Logout</a></button>
    </div>
    <p>Hello, <%= uname %> !!</p>

    <form action="/dashboard" method="get">
        <label for="tags">Enter Tags:</label>
        <input type="text" id="tags" name="tags" required>
        <button type="submit">Submit</button>
    </form>

    <% if (typeof error !== 'undefined' && error !== null) { %>
        <p><%= error %></p>
    <% } else if (problems) { %>
        <h2>Codeforces Problems</h2>
        <table>
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Contest ID</th>
                    <th>Problem Index</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
               <!-- Inside the table body -->
<% problems.sort((a, b) => a.rating - b.rating).forEach(problem => { %>
    <tr>
        <td><a href="<%= `https://codeforces.com/problemset/problem/${problem.contestId}/${problem.index}` %>" target="_blank"><%= problem.name %></a></td>
        <td><%= problem.contestId %></td>
        <td><%= problem.index %></td>
        <td><%= problem.tags.join(', ') %></td>
        <td><%= problem.rating %></td>
    </tr>
<% }); %>

            </tbody>
        </table>
    <% } %>
    
</body>

</html>
