<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>

<body>
    <div class="navi">
        <nav>
            <a href="/logout">Logout</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/analyzer">Analyze</a>
            
        </nav>



    </div>
   
    
    <p>Hello, <%= uname %> !!</p>



    <form action="/dashboard" method="get">
        
        <label for="tags">Enter Tags:</label>

        <input type="text" id="tags" placeholder="Enter problem tag" name="tags" required>
        <button type="submit">Submit</button>
    </form>
    <nav class="rating">
        <button type="button" value="800">800</button>
        <button type="button" value="900">900</button>
        <button type="button" value="1000">1000</button>
        <button type="button" value="1100">1100</button>
        <button type="button" value="1200">1200</button>
        <button type="button" value="1300">1300</button>
        <button type="button" value="1400">1400</button>
        <button type="button" value="1500">1500</button>
        <button type="button" value="1600">1600</button>
        
    </nav>
    <div class="user_handle">

        <h3><%=  %></h3>
        <h3><%=  %></h3>
        <h3><%=  %></h3>
        <h3><%= %></h3>



    </div>

    <% if (typeof error !== 'undefined' && error !== null) { %>
        <p><%= error %></p>
    <% } else if (problems) { %>
        <h2>Codeforces Problems</h2>
        <table>
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Tags</th>
                    <th>rating</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
               <!-- Inside the table body -->
<!-- Inside the table body -->
<% problems.sort((a, b) => (a.rating || Infinity) - (b.rating || Infinity)).forEach(problem => { %>
    <tr>
        <td><a href="<%= `https://codeforces.com/problemset/problem/${problem.contestId}/${problem.index}` %>" target="_blank"><%= problem.name %></a></td>
        <td><%= problem.tags.join(', ') %></td>
        <td><%= problem.rating !== null ? problem.rating : '-' %></td>
    </tr>
<% }); %>



            </tbody>
        </table>
    <% } %>
    
</body>

</html>
